@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Condensed&display=swap");
@import url("components/container.css");
@import url("components/profilepicture.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/interests.css");

body {
	font-family: 'Lora', serif;
	font-size: 18px;
	margin: 0px auto;
}
h1, h2, h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
}
a {
	text-decoration: none;
}